.body{
    border: 1px solid #000000;
    border-style: solid;
    
    
}
h1 {
    margin: 10px;
    color:blue;
    font-size: 50px;
    background-color: black;
    text-align: left;
    padding: 10px 20px 2px;
}
.MY{
    color: white;
}
h2{
    margin: 10px;
    color:white;
    font-size: 40px;
    background-color: purple;
    text-align: center;
    padding-left: 5px;
}
h3{
    margin: 10px;
    color:navy;
    font-size: 35px;
    background-color: skyblue;
    text-align: right;
    text-decoration: underline;
    padding-right: 5px;
}